[flake8]
max-line-length = 80
exclude = .git,__pycache__,.readme
ignore =
  E203,
  E206,
  E501,
  # F812: list comprehension redefines ...
  F812,
  # H101: Use TODO(NAME)
  H101,
  # H104: File contains nothing but comments
  H104,
  # H202: assertRaises Exception too broad
  H202,
  # H233: Python 3.x incompatible use of print operator
  H233,
  # H301: one import per line
  H301,
  # H306: imports not in alphabetical order (time, os)
  H306,
  # H401: docstring should not start with a space
  H401,
  # H403: multi line docstrings should end on a new line
  H403,
  # H404: multi line docstring should start without a leading new line
  H404,
  # H405: multi line docstring summary not separated with an empty line
  H405,
  # H501: Do not use self.__dict__ for string formatting
  H501,
  # I100:
  I100,
  W503,
